group main
    source https://www.nuget.org/api/v2
    framework: netstandard20, netcoreapp31, net50
    nuget FSharp.Core 4.7.0

group specs
    source https://www.nuget.org/api/v2
    framework: net50
    nuget Microsoft.NET.Test.Sdk 16.9.4
    nuget coverlet.collector 1.0.1
    nuget xunit 2.4.1
    nuget xunit.runner.visualstudio 2.4.3
    nuget FsCheck 3.0.0-alpha4 prerelease
    nuget FsCheck.Xunit 3.0.0-alpha4 prerelease
    nuget FluentAssertions 6.2.0
    nuget Bogus 33.1.1
    nuget WaffleGenerator 4.2.1
    nuget WaffleGenerator.Bogus 4.2.1
